.footer {
   width: 100%;
}

.footerWrapper {
   background: #333333;
   color: white;
   display: flex;
   justify-content: space-around;
   
   p {
      font-size: 0.8rem;
   }

   a {
      color: white;
      text-decoration: none;
      &:hover {
         border-bottom: 0.5px solid teal;
      }
   }
}