// * {
//    border: 0.5px solid maroon;
// }

body {
   max-width: 1920px;
   width: 95% ;
   margin: auto;
   font-family: 'Roboto';
   color: #333;
}

h1 {
      text-align: center;
      font-size: 2.5rem;
}

h2 {
      font-size: 2rem;
}

p {
      font-size: 1rem;
}

.hero {
//    background: rgb(226, 225, 225);  
margin-top: 30px;
}

.about {
//    background: lightgray;
   // object-fit:
}

.lawyer-background {
   width: 100%;
   height: 92vh;
   opacity: 0.2;
}

.headernav {
   display: flex;
   justify-content: space-between;
}

.logo {
   width: 120px;
   height: 80px;
   margin-left: 15px;
}

.navDetails {
   width: 25%;
   display: flex;
   justify-content: space-around;
   align-items: center;
//    text-transform: uppercase;
   font-weight: 700;
   margin-right: 30px;
   li {
      list-style-type: none;
      a {
         text-decoration: none;
         color: black;
         padding: 3px;
         position: relative; 

         &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -5px;
            left: 0;
            background-color: teal;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
         }
         &:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
            
            }
      }
}

.nameWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    h1 {
          text-align: left;
    }
}

